.wrap {
  width: 100%;
  height: 100%;

  .about_title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  #title {
    margin: 1em;
    width: 30em;
  }
  .alpha {
    opacity: 0;
    animation: slide 2s ease forwards;

    &_am {
      animation-delay: 0.7s;
    }
    &_sohee {
      animation-delay: 2s;
    }
  }
  .stroke {
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
    animation: stroke-move 30s ease forwards;

    &_two {
      stroke-dasharray: 900px;
      stroke-dashoffset: 900px;
      animation: stroke-move2 30s ease forwards;
      animation-delay: 1.2s;
    }
    &_three {
      animation-delay: 2.2s;
    }
  }

  .about_intro {
    width: 100%;
    height: 100%;

    article {
      padding: 2em 1em 5em;
      text-align: center;
    }

    h2 {
      margin: 1.5em 0 0.3em;
      font-size: 1.3em;
    }
    h3 {
      margin: 0.3em 0;
      font-style: italic;
    }

    .fa-2x {
      margin: 0.5em 0.5em 3em;
    }

    .about_txt {
      margin-top: 2em;
    }

    button {
      padding: 0.5em 1.5em;
      background-color: #bc5447;
      border: 1px solid #b52816;
      color: #fff;
      cursor: pointer;
      letter-spacing: -0.05em;
      transition: all 0.4s;

      &:hover,
      &:active {
        background-color: #b52816;
      }
    }
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes stroke-move {
  0% {
    stroke-dashoffset: 500px;
  }
  5% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes stroke-move2 {
  0% {
    stroke-dashoffset: 900px;
  }
  5% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@media screen and (max-width: 48rem) {
  .wrap {
    article {
      p {
        text-align: left;
      }

      .fa-2x {
        margin: 0.5em 0.3em !important;
      }
    }
  }
}
