header {
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    right: 0;
    z-index: 9999;
    background-color: #fff;
  }

  .gnb {
    padding: 1em 0;
    width: 25%;
    display: table-cell;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;

    &:hover,
    &.active {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 48rem) {
  header {
    nav {
      bottom: 0;
      background-color: #fcfcfc;
      border-top: 1px solid #ddd;
    }
    .gnb {
      padding: 0.8em 0;
      width: 33.3%;
      border-left: 1px solid #ddd;
      font-size: 0.9rem;
      letter-spacing: -0.5px;
      &:first-child {
        border-left: none;
      }
    }
  }
}
